<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Postal Rate Calculator</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="form" method="post">
          <div class="input-group">
            <input type="number" name="weight" class="form-control" id="weight" placeholder="Weight" min="1" max="13" required>
            <select style="margin-top: 10px; margin-bottom: 20px;" class="form-control" name="mail" id="mail">
              <option value="Letters (Stamped)">Letters (Stamped)</option>
              <option value="Letters (Metered)">Letters (Metered)</option>
              <option value="Large Envelopes (Flats)">Large Envelopes (Flats)</option>
              <option value="First-Class Package Service—Retail">First-Class Package Service—Retail</option>
            </select>
            <input class="btn btn-primary btn-block" type="submit" value="Submit">
          </div>
        </form>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
